In [ ]:
"""
Use a for statement, range and print to display on one line the sequence of values 99 88 77 66 55 44 33 22 11 0, each separated by one space.
"""

In [ ]:
for i in range(99,-1,-11):
    print(i,end=" ")